:root {
  --button: #ef8678;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




body {
  font-family: "Assistant", sans-serif;
  font-family: "Catamaran", sans-serif;
  height: 100vh;
  margin: 0;
  background-image: url(../img/perrosimg.jpg);
  background-position: center;
  background-size: cover;
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
  
}


/* nab-bar */
.main-nav {
  height: 70px;
}

img {
  max-width: 100%;
}
.toggle-menu {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  cursor: pointer;
  width: 60px;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .toggle-menu {
    display: none;
  }
}

.main-menu {
  list-style: none;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
  transform: translateY(-100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: ease-out 0.8s;
}

.main-menu--show {
  transform: translateY(0);
  position: absolute;
  background: #e1aa9f;
  opacity: 0.8;
  height: 100vh;
  width: 100%;
  /* transition: ease-in-out 0.8s; */
}
@media screen and (min-width: 768px) {
  .main-menu {
    flex-direction: row;
    justify-content: flex-end;
    transform: translateY(0);
  }
}

.main-menu__item {
  padding: 1em;
}
.main-menu__link {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
}
.main-menu__link:hover{
  font-size: 20px;
  transition: all 0.3s;
}
/********************************************/
.presentacion{
  width: 100%;
  height: 60vh;
  background-color: #ef8678b5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
}

.presentacion-img img{
  width: 200px;
}
.presentacion-img{
  margin: 1rem;
}
.presentacion-text{
  font-weight: 600;
 padding: 0.5rem;
}
@media screen and (min-width: 768px) {
  .presentacion{
    flex-direction: row;
    text-align: center;
  }

  .presentacion-img{
    margin: 1rem;
  }
  .presentacion-img img{
    width: 700px;
  
  }
  .presentacion-text{
  font-size: 20px;
    padding: 0.5rem;
   }
}

/* cards */
section{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0 ; 
}

.article-wrapper{
  border: 1px solid black ;
  max-width: 300px;
  
}
.article-wrapper img{
  padding : 0; 
  
}